<template>
    <span>
        <a href="#" v-if="isFavorited" @click.prevent="unFavorite(seeker)">
             <i class="fa fa-2x fa-star" aria-hidden="true"></i>
        </a>
        <a href="#" v-else @click.prevent="favorite(seeker)">
          <i class="fa fa-2x  fa-star-o" aria-hidden="true"></i>
        </a>
    </span>
</template>
<script>
    export default {
        props: ['seeker', 'favorited'],
        data: function () {
            return {
                isFavorited: '',
            }
        },
        mounted() {
            this.isFavorited = this.isFavorite ? true : false;
        },
        computed: {
            isFavorite() {
                return this.favorited;
            },
        },
        methods: {
            favorite(seeker) {
                axios.post('/employer/favoriteSeeker/' + seeker)
                        .then(response => this.isFavorited = true)
                        .catch(response => console.log(response.data));
            },
            unFavorite(seeker) {
                axios.post('/employer/unFavoriteSeeker/' + seeker)
                        .then(response => this.isFavorited = false)
                        .catch(response => console.log(response.data));
            }
        }
    }
</script>