/* Add here all your css styles (customizations) */

* {
    text-decoration: none !important;
    text-transform: none !important;
}

h2.heading-sm, h3.heading-md {
    font-size: 20px;
    line-height: 24px;
}

.heading-md {
    font-size: 16px;
    text-align: center;
    color: #1565c0;
}

h1, h2, h3, h4, h5, h6 {
    color: #37474f;
}

.sky-form .select select, .sky-form .input input, .sky-form .textarea textarea {
    padding: 3px 10px;
}

.cbp-l-caption-desc {
    color: #FFF9C4;
}

.header .logo img {
    z-index: 1;
    margin: 0px;
    position: relative;
}

.light-shadow {
    box-shadow: 0px 0px 5px #B0BEC5 !important;
}

.profile .profile-body {
    background: #ECEFF1;
}

hr {
    border-top: 1px solid #CFD8DC;
}

.header .navbar-nav > li > a {
    padding: 9px 22px 9px 22px;
    font-size: 12px;
}

.padding-left-0 {
    padding-right: 0 !important;
}

.service-block-u {
    background: #90A4AE;
}

.mCustomScrollbar {
    height: 250px !important;
}

.bold {
    font-weight: bold;
}

.service-block-v3 .counter {
    font-size: 26px;
}

.footer-v1 .copyright {
    background: rgba(96, 125, 139, 0.6);
    bottom: 0px;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0px 0 0px;
    box-shadow: 0px 0px 5px #78909C;
    border-top: 1px solid #90A4AE;
}

.footer-v1 .footer-socials {
    margin-top: 0px;
}

.footer-v1 .footer-socials li a {
    color: #fff;
}

.footer a, .copyright a, .footer a:hover, .copyright a:hover {
    color: #fff;
    font-size: 16px;
}

.font-size-12 {
    font-size: 12px !important;
}

.header .mega-menu .nav {
    background-color: #dee6e9;
}

@media (max-width: 991px) {
    .header .navbar-nav .open .dropdown-menu {
        width: calc;
    }
}

.header .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
    left: auto;
}

@media (min-width: 991px) {
    .header .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
        margin-left: 15px;
        margin-right: 15px;
        width: 72.4%;
    }

    .header .mega-menu .nav {
        width: 74.4%;
    }
}

.header .navbar-nav > li > a {
    color: rgba(0, 0, 0, 0.87);
}

.header {
    border-bottom: solid 2px #CFD8DC;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-0 {
    margin: 0 !important;
}

#topcontrol {
    width: 25px;
    height: 25px;
    bottom: 55px !important;
}

#topcontrol:after {
    top: -4px;
    left: 6.5px;
}

.footer-v1 .copyright p, .footer-v1 .copyright a, .footer-v1 .footer-socials li a {
    color: #fff;
}

.content {
    padding-top: 20px;
}

.reg-block {
    background: rgba(255, 255, 255, 0.9);
    margin: 10px auto;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f2f4f6;
}

.breadcrumbs {
    background: none;
    background-color: #F6F6F6;
    padding: 12px 0 5px;
}

td > a {
    color: #d72e35 !important;
}

td > a:hover {
    color: #000 !important;
}

.profile .table a {
    color: #333;
}

.sky-form header {
    padding: 8px 0;
    margin-bottom: 10px;
}

.sky-form fieldset + fieldset {
    border-top: none;
}

.sky-form fieldset {
    padding: 5px 30px 5px;
}

.padding-right-0 {
    padding-left: 0;
}

.profile .profile-blog img {
    width: 75px;
    height: 75px;
}

.profile .profile-blog {
    border-top: 2px solid #D82E35;
}

.padding-10 {
    padding: 10px !important;
}

.sky-form .input input {
    height: 33px;
}

.reg-block-header {
    margin-bottom: 15px;
}

/*For Mobile Devices*/
@media (max-width: 500px) {
    .reg-block {
        width: 280px;
    }
}

/* Validation */
.alert-danger {
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
}

.sky-form .radio, .sky-form .checkbox {
    font-size: 12px;
}

.sky-form .inline-group .radio, .sky-form .inline-group .checkbox {
    margin-right: 10px;
}

.sky-form .label {
    margin-bottom: -3px;
    font-size: 14px;
    color: #404040;
}

.sky-form .row {
    margin: 0;
    background-color: white;
}

/************* begin info bar *************/

.header .topbar ul.loginbar > li > a, .header .topbar ul.loginbar > li > a:hover {
    font-size: 12px;
}

.header .topbar ul.languages li a {
    font-size: 12px;
}

.header .topbar ul.languages {
    width: 140px;
    left: -47px;
    border-bottom: 2px solid #d82e35;
    background-color: #ECEFF1;
    webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.header .topbar ul.languages:after {
    left: 50px;
}

.header .topbar ul.loginbar li i.fa {
    color: #d82e35;
}

/************* end info bar *************/