@font-face {
    font-family: newfont;
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/DINNextLTArabic-Light.eot);
    src: url(../../fonts/DINNextLTArabic-Light.eot?#iefix) format('embedded-opentype'),
        url(../../fonts/DINNextLTArabic-Light.woff) format('woff'),
        url(../../fonts/DINNextLTArabic-Light.ttf) format('truetype');
}
body {
    background: #ddd;
    font-size: 14px;
    font-family: newfont; }

header {
    width: 100%;
    padding: 0.5em 0;
    height: 5em;
    background: white;
    box-shadow: 0 4px 2px -2px #A3B3A6; }
header img {
    float: right;
    z-index: 9999;
    width: 7.5em;
    height: 5em;
    margin-top: -0.05em; }
header nav {
    width: 100%;
    margin-top: 1.4em;
    overflow: auto;
    height: auto; }
header nav ul {
    float: right;
    margin-top: 0.3em;
    list-style: none; }
header nav ul li {
    font-size: 1.2em;
    width: 100%;
    float: left;
    display: inline;
    padding: 0.5em 1em;
    vertical-align: middle;
    border-top: 2px solid white; }
header nav ul li:after {
    content: "\e079";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    margin-top: 4px;
    margin-left: 3px;
    color: #b82e35; }
header nav ul li:last-child:after {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    margin-top: 4px;
    margin-left: 3px;
    color: #b82e35; }
header nav ul li span {
    cursor: pointer; }
header nav ul li:hover {
    display: inline;
    padding: 0.5em 1em;
    vertical-align: middle;
    border-bottom: 3px solid #b82e35;
    color: #666; }
header nav ul li:last-child {
    float: left;
    border-top: 0;
    margin-top: -0.8em; }
header nav ul li:last-child:hover {
    border-top: 0;
    background: transparent; }
header nav ul li a {
    color: #333;
    text-decoration: none;
    cursor: pointer; }
header nav ul li a:hover {
    color: #333;
    text-decoration: none;
    cursor: pointer; }

#demo {
    width: 100%;
    background: white;
    box-shadow: inset 0 4px 2px -2px #A3B3A6, 0 4px 2px -2px #A3B3A6; }
#demo nav {
    width: 100%;
    /* margin-top: 1.4em; */

    /* height: 4.142857em; */ }
#demo nav ul {
    float: right;
    margin-top: 0.8em;
    list-style: none; }
#demo nav ul li {
    text-align: right;
    font-size: 1.2em;
    display: inline;
    width: 100%;
    float: left;
    padding: 0.5em 1em;
    vertical-align: middle;
    border-bottom: 3px solid  white; }
#demo nav ul li:hover {
    display: inline;
    padding: 0.5em 1em;
    vertical-align: middle;
    border-bottom: 3px solid #b82e35;
    color: #666; }
#demo nav ul li:after {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e079";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    margin-top: 4px;
    margin-left: 3px;
    color: #b82e35; }
#demo nav ul li a {
    color: #333;
    text-decoration: none;
    cursor: pointer; }
#demo nav ul li a:hover {
    color: #666;
    text-decoration: none;
    cursor: pointer; }
#demo ol {
    overflow: auto;
    height: auto;
    padding-right: 2em; }

.li {
    padding-right: 1em;
    text-align: right;
    font-size: 1.2em;
    display: inline;
    width: 100%;
    float: left;
    padding: 0.5em 1em;
    vertical-align: middle;
    border-top: 0; }

.active {
    border-bottom: 3px solid #b82e35; }

footer {
    clear: both;
    background: #ddd;
    width: 100%; }

.footer-footer {
    padding: 1em;
    color: black; }
.footer-footer a {
    color: #b82e35; }

.rightside {
    float: left;
    overflow: auto;
    width: 100%; }

.leftside {
    float: left;
    width: 100%; }

.info {
    width: 100%;
    height: auto;
    padding: 1em;
    border: 1px solid #A3B3A6;
    border-top: 0;
    background: white;
    box-shadow: 0 4px 2px -2px #A3B3A6;
    margin-bottom: 1em; }
.info table {
    width: 100%;
    direction: rtl; }
.info table tr td {
    width: 2px;
    color: #333; }

.thick {
    font-weight: bold; }

.space {
    padding: 1em; }

.title-div, aside .title-div {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    line-height: 0.1em;
    margin: 25px 0 25px; }

.stati {
    width: 100%;
    height: auto;
    padding: 1em;
    border: 1px solid #A3B3A6;
    background: white;
    box-shadow: 0 4px 2px -2px #A3B3A6;
    margin-bottom: 1em;
    border-top: 0; }
.stati h4 {
    width: 100%;
    border-bottom: medium none;
    color: black;
    text-align: right;
    margin-right: 1em;
    font-size: 1.3em; }
.stati h5 {
    text-align: right;
    width: 100%;
    color: #b82e35;
    font-size: 1em; }

.todo_list {
    width: 100%;
    height: auto;
    border: 1px solid #A3B3A6;
    background: white;
    box-shadow: 0 4px 2px -2px #A3B3A6;
    margin-bottom: 1em;
    overflow: auto;
    height: 10em; }
.todo_list p {
    width: 100%;
    padding: 0.3em;
    direction: rtl;
    margin: 0; }
.todo_list p:nth-child(odd) {
    background: #b82e35;
    color: white;
    width: 100%; }
.todo_list p:nth-child(odd) a {
    color: white;
    text-decoration: none; }
.todo_list p:nth-child(even) {
    background: white;
    color: #b82e35;
    width: 100%; }
.todo_list p:nth-child(even) a {
    color: #b82e35;
    text-decoration: none; }

#h4 {

    text-align: right;
    z-index: 99;
    margin-bottom: 0;
    background: white;
    padding: 1em;
    border: 1px solid #A3B3A6;
    border-bottom: 0; }

.addNote {
    width: 100%;
    height: auto;
    border: 1px solid #A3B3A6;
    background: white;
    box-shadow: 0 4px 2px -2px #A3B3A6;
    margin-bottom: 1em;
    overflow: auto;
    padding: 1em;
    border-top: 0; }

.lastjobs {
    width: 100%;
    background: white;
    float: right;
    margin-left: 0.25em;
    direction: rtl;
    border: 1px solid #A3B3A6;
    margin-bottom: 1em;
    box-shadow: 0 4px 2px -2px #A3B3A6; }
.lastjobs h4 {
    padding: 0.5em 1em;
    border-bottom: 1px solid #A3B3A6; }
.lastjobs h5 {
    padding: 1em;
    color: #b82e35;
    font-weight: bold; }
.lastjobs p {
    padding: 0.5em;
    height: 5em;
    overflow: hidden; }

.lastNews {
    margin-bottom: 1em;
    width: 100%;
    background: white;
    float: left;
    margin-right: 0.25em;
    direction: rtl;
    border: 1px solid #A3B3A6;
    box-shadow: 0 4px 2px -2px #A3B3A6; }
.lastNews h4 {
    padding: 0.5em 1em;
    border-bottom: 1px solid #A3B3A6; }
.lastNews h5 {
    padding: 1em;
    color: #b82e35;
    font-weight: bold; }
.lastNews p {
    padding: 0.5em;
    height: 5em;
    overflow: hidden; }

.lastsms {
    width: 100%;
    border: 1px solid #A3B3A6;
    background: white;
    box-shadow: 0 4px 2px -2px #A3B3A6;
    margin-bottom: 1em;
    overflow: auto;
    height: 15.69em; }
.lastsms p {
    width: 100%;
    padding: 0.3em;
    direction: rtl;
    margin: 0; }
.lastsms p:nth-child(odd) {
    background: #b82e35;
    color: white;
    width: 100%; }
.lastsms p:nth-child(odd) a {
    color: white;
    text-decoration: none; }
.lastsms p:nth-child(even) {
    background: white;
    color: #b82e35;
    width: 100%; }
.lastsms p:nth-child(even) a {
    color: #b82e35;
    text-decoration: none; }

.clearboth {
    clear: both; }

.breadcrumb {
    padding: 8px 15px;
    margin-top: 0.8em;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 0px;
    border: 1px solid #A3B3A6;
    box-shadow: 0 4px 2px -2px #A3B3A6; }
.breadcrumb a {
    color: #b82e35; }

#glyphicon {
    color: #b82e35; }

.hideme {
    display: none; 
}

.btn-menu {
    margin-top: 1em; }

.info img {
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 1em;
    width: 8.928571428571429em;
    height: 8.928571428571429em; }

.main_cont {
    width: 100%;
    background: white;
    border: 1px solid #A3B3A6;
    box-shadow: 0 4px 2px -2px #A3B3A6;
    padding: 1em; }

.table tr {
    direction: rtl; }
.table thead {
    display: none; }

.table tr th, .table tr td {
    text-align: center;
    width: 100%;
    float: right; }

.table tr td a {
    color: #b82e35; }

pagination {
    margin: 0 auto; }
pagination .active {
    background: #b82e35; }
pagination .active a {
    background: #b82e35;
    border: 1px solid #A3B3A6; }
pagination .active a:hover {
    background: #b82e35;
    border: 1px solid #A3B3A6; }

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #b82e35;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd; }

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    z-index: 3;
    color: #b82e35;
    background-color: #eee;
    border-color: #ddd; }

.modal-body {
    margin-top: 0.5em;
    position: relative;
    padding: 15px;
    background: white; }

.modal-content {
    border: 0;
    background: transparent; }

.modal-header {
    background: #b82e35;
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 0; }
.modal-header h4 {
    text-align: center;
    color: white; }

.modal-body {
    direction: rtl; }

.commentsBox {
    width: 100%;
    height: 28.57142857142857em;
    overflow: auto;
    direction: rtl;
    margin: 0 auto;
    padding-right: 1em;
    margin-bottom: 1.5em;
    padding-bottom: 1em; }
.commentsBox hr {
    width: 50%;
    margin: 0 auto; }

.comment {
    width: 90%;
    /* height: 7.7em; */
    overflow: auto;
    direction: rtl; }
.comment img {
    float: right;
    width: 3.571428571428571em;
    /* height: 3.571428571428571em; */
    margin-top: 1em;
    border-radius: 50%; }
.comment h5 {
    margin-right: 1em;
    color: #333;
    float: right;
    font-weight: bold; }
.comment p {
    float: right;
    width: 82%;
    margin-right: 1em;
    /*    height: 3em;*/
    overflow: hidden; }
.comment span {
    color: lightgray;
    font-size: 0.8em;
    float: right;
    width: 83%;
    padding-right: 1.2em;
    direction: rtl; }

.commentsForm {
    width: 100%;
    height: 7.142857142857143em; }
.commentsForm textarea {
    height: 6.142857142857143em; }

.width15 a {
    margin: 0 0.4em; }

.main {
    background: white;
    border: 1px solid #A3B3A6; }
.main table {
    width: 100%; }
.main table td:nth-child(odd) {
    width: 100%;
    text-align: right;
    direction: rtl;
    padding: 0.5em; }
.main table td:nth-child(even) {
    width: 20%;
    text-align: center;
    padding: 0.5em;
    display: none; }
.main table td textarea {
    height: 14.28571428571429em; }

.pair {
    width: 40%;
    border: 1px solid lightgray;
    border-radius: 0.3em;
    height: 2.285714285714286em;
    padding: 0 1em;
    direction: rtl; }
.pair:focus {
    outline: 0; }

.modal-body table {
    width: 100%; }
.modal-body table td:nth-child(odd) {
    width: 100%;
    text-align: right;
    direction: rtl;
    float: left;
    padding: 0.5em; }
.modal-body table td:nth-child(even) {
    width: 20%;
    text-align: center;
    float: left;
    padding: 0.5em;
    display: none; }
.modal-body table textarea {
    height: 14.28571428571429em; }

.close {
    float: left; }

.form-control {
    height: auto; }

.table img {
    width: 7.142857142857143em;
    margin: 0 auto; }

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.margin-right{
    margin-right: 10px
}
.margin-left{
    margin-left: 10px
}

.no-padding
{
    padding: 0 ;
}

.margin-top-20
{
    margin-top: 20px;
}

/*# sourceMappingURL=Mobile.css.map */
