/* 
    Created on : Dec 20, 2015, 2:17:11 AM
    Author     : Abdallah M.M.N. Abukhader
*/
@import url(https://fonts.googleapis.com/css?family=Amiri&subset=arabic,latin);
html,body{
    min-width: 320px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
    height: 20em;
}
body{
    font-family: sans-serif;
    font-size: 14px;
}
header{
    width: 100%;
    padding: 0.5em 0;
    height: 8.5em;

}
.fnav{
    width: 100%;
    top: 0;
    height: auto;
    border-bottom: 1px solid lightgray;
    position: absolute;

}
.fnav-menu ul{
    list-style: none;
    width: 100%;
    overflow: auto;
    float: right;
    display: none;
}
.fnav-menu ul span{
    float:right;
    color:#666;
    padding: 0.5em;
}
.fnav-menu ul li{
    display: inline;
    padding: 0.5em;
    float: right;
}
.fnav-menu ul li a{
    color:#666;
    width: inherit;
    height: inherit;
}
.fnav-s-menu{
    overflow: auto;
}
.fnav-s-menu ul{
    text-align: left;
    font-size: 1.1em;
    list-style: none;
    width: auto;
    overflow: auto;
    float: left;
    height: 2.857142857142857em;
    margin: 0px;
   
}
.fnav-s-menu ul li{
    display: inline;
    padding: 0.5em;
    float: left;
    width: 2.857142857142857em;
    height: 2.857142857142857em;
    text-align: center;
}
.fnav-s-menu ul li a{
    color:#666;
    padding: 0.2em;
    width:2.857142857142857em;
    vertical-align: middle;
    height:2.857142857142857em;
}

.f:hover  {
    color:white;
    background: #3b5998;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 2px -2px gray;
    cursor: pointer;
}
.f:hover a{
    color:white;
}
.t:hover {
    background: #1dcaff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 2px -2px gray;
}
.t:hover a{
    color:white;
}
.y:hover {
    background: #FF0202;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 2px -2px gray;
}
.y:hover a{
    color:white;
}
.i:hover {
    background: #9b6954;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 2px -2px gray;
}
.i:hover a{
    color:white;
}
.mobilemenu{
    margin-top: 1em;
}
.mobile-menu{
    box-shadow: 0 4px 2px -2px gray;
    padding: 1em;
}
.mobile-menu ul{
    list-style: none;
    padding: 0;
}
.mobile-menu ul li{
    width: 100%;
    border-top: 2px solid white;
    padding: 1em 0.5em;
    direction: rtl;
    text-align: right;
    margin: 0.1em 0;
}
.mobile-menu ul li a{
    width: 100%;
    margin: 0.1em 0;
    color: #666;
    padding: 1em 0.5em;
    direction: rtl;
    text-align: right;
}
.mobile-menu ul li a:hover{
    color:#b82e35;
    text-decoration: none;
}
.mobile-menu ul li:hover{
    border-top: 2px solid #b82e35;
    background-color:lightgray;
    text-decoration: none;
    box-shadow: 0 4px 2px -2px gray;
}
.mobile-menu ul li:last-child{
    border: 0;
}
.mobile-menu ul li:last-child:hover{
    border:0;
    background-color:white;
    text-decoration: none;
    box-shadow: 0 4px 2px -2px white;
}
.m-login{
    width: 100%;
}
.snav{
    width: 100%;
    top: 3.214285714285714em;
    height: auto;
    position: absolute;
    box-shadow: 0 4px 2px -2px gray;
    padding-top:0.4em;
}
.snav img{
    float: right;
    z-index: 9999;
    width :7.5em;
    height:5em;
    margin-bottom: -0.3em;
}
.snav-m-menu{
    width: 47%;

}
.snav-m-menu ul{
    display: none;
    list-style: none;
    float: right;
    vertical-align: middle;
    bottom: 0.3em;
    position: absolute;
    margin-left: 7em;
}
.snav-m-menu ul li{
    display: inline;
    border-top: 2px solid white;
    font-size: 1.2em;
    font-weight: normal;
    vertical-align: middle;
}
.snav-m-menu ul li a{
    color: #333;
    padding: 0.5em;
    vertical-align: middle;
}
.snav-m-menu ul li a:hover{
    border-top: 2px solid #b82e35;
    background-color:lightgray;
    text-decoration: none;
    /*    -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;*/
    box-shadow: 0 4px 2px -2px gray;
}
.signup{
    clear: left;
    float: left;
    margin-left: 2em;
    font-size: 0.7142857142857143em;
}
.login{
    display: none;
    float: left;
    margin-top: 2em;
    font-size: 0.9em;
}
.login-bar{

    width: 100%;
    box-shadow: 0 4px 2px -2px white;

}
.login-bar .span{
    font-size:1.1em;
    padding:1.1em;
    text-align: center;
}
.login-bar input{
    width: 100%;
    margin: 0.5em 0;
}
.login-bar .input-group{
    width: 100%;
}
.login-btn{
    margin: 0.5em 0;
    width: 100%;
}
.span a{
    color:#333;
}
.span a:hover{
    color:#b82e35;
}
.carousel-control:focus, .carousel-control:hover {
    color: black;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: black;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6); 
    filter: alpha(opacity=50);
    opacity: .5;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-repeat: repeat-x;
    background: none;
}
.carousel-control.left{
    background: none;
}
#myCarousel{
    box-shadow: 0 4px 2px -2px black;
}

.methods{ 
    width: 100%;
    background: #333;
    /* height: 18.285714em; */
    box-shadow: 0 4px 2px -2px black;
}
.feature{
    width: 100%;
    color: white;
    text-align: center;
    float: right;
    height: 100%;
        
}
.feature img{
    width: 4.571428571428571em;
    height: 4.571428571428571em;
    margin: 0 auto;
}
.feature p{
    padding:1em;
}
.R-job{

    width:100%;
    color:black;
}
.rightside{
    float: left;
    width:100%;
}
.rightside .job:last-child{
    border: 0;
}
.leftside{
    float: left;
    width:100%;
}

.title-div, aside .title-div {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    line-height: 0.1em;
    margin: 25px 0 25px;
}
h2.block-title, aside h2.block-title {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 0 10px;
    display: inline-block;
    margin-bottom: -9px;
}
.job{
    border-bottom: 1px solid lightgray;
    overflow: auto;
    padding-right:1em;  
}
.job table{
    clear: right;
}
.job table tr td{
    width: 100%;
    float: right;
}
.job table tr td:nth-child(even){
    padding:0.5em;
    color:gray;
    direction: rtl;
}
.job table tr td:nth-child(odd){
    padding:0.5em;
    color:#333;
    direction: rtl;
}
.job h3{
    color:#666;
    float: right;
}

.job p{
    width: 100%;
    height: 4em;
    overflow: hidden;
}
.job img{
    float: left;
    width: 20%;

}
.star{
    border-right:7px solid #b82e35;

}
.LastNews p{
    width: 100%;
    margin:0 auto;
    text-align: center;
}

.news{
    width: 100%;
    float: right;

    padding: 1em;
}
.news p{
    width: 100%;
    padding-top: 0.2em;
    clear: right;
    text-align: right;
    height: 6em;
    overflow: hidden;
}
.news img{
    -webkit-box-shadow: 0 0 5px 2px gray;
    -moz-box-shadow: 0 0 5px 2px gray;
    box-shadow: 0 0 5px 2px gray;
}
.news h3{
    text-align: right;
}
.news span{
    width: 100%;
    text-align: right;
    float: right;
    color:grey;
    font-size: 0.7142857142857143em;
}
.news  a{
    color:#666;
    text-decoration: none;
}
.news a:hover{
    color:#b82e35;
    text-decoration: underline;

}
.part p{
    width: 100%;
    margin: 0 auto;
    height: 5.9em;
    overflow: hidden;
}
.part ul{
    list-style: none;
    width: 100%;

}
.part ul li{
    display: inline;
    width: 100%;
    padding: 1em 0;
    /* height: 9em; */
    float: right;
    overflow: hidden;
}
.part ul li img{
    margin:0 auto;
}
.logos{
    text-align: center;
    overflow: auto;
}
.footer-header{
    width: 100%;
    background: #b82e35;
    /* height: 14.14285714285714em; */
    padding: 1em;
    margin-top: 3em;
    text-align: center;
    color: white;
}

.footer-header p{
    width: 100%;
    height: 4.3em;
    overflow: hidden;
    text-align: right;
    float: right;
}
.footer-container{
    background: #333;
    height:auto;

    width: 100%;
}
.regest{
    float: left;
    margin-top: -1em;

}
.footer-card{
    width: 100%;
    padding: 1em;
    float: right;
    /* height: 30em; */
    direction: rtl;
    color: white;

}
.footer-body{
    overflow: auto;
    /* height: 37.142857em; */
    border-bottom: 1px solid lightgray;
    width: 100%;
}
.footer-footer{
    color: lightgray;
    text-align: center;
}
.footer-footer a{
    color: #b82e35;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.Login-section{
    width:100%;
    text-align: center;
    overflow: auto;
}
.Login-section h3{
    float: right;
}
.Login-section form{
    clear: right;
    margin: 0 auto;
}
.Login-section .input-group{
    margin: 0 auto;
}
.Login-section .input-group input{
    direction: rtl;
}
.create-section{
    width:100%;
    text-align: center;
    overflow: auto;
}
.create-section form{
    width: 100%;
}
.create-section h3{
    float: right;
}
.create-section form{
    clear: right;
    float: right;
    margin: 0 auto;
}
.create-section table{
    clear: right;
    width:80%;
    float: right;
    direction: rtl;
}
.create-section table tr td:nth-child(odd){
    float: left;
    width: 80%; 
    direction: rtl;
    margin:1em 0;
    vertical-align: middle;
}
.create-section table tr td label{
    padding-top: 0.5em;

}
.create-section table tr td:nth-child(even){
    float: left;
    width: 20%; 
    direction: rtl;
    margin:1em 0;
    vertical-align: middle;
    display: none;
}
.marginLR1{

    width: 50%;
    float: right;
    text-align: center;
}
.arttitle{
    width: 100%;
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    padding-top: 1em;
    direction: rtl;
}
.arttitle h1 {
    border-bottom: medium none;
    color: #FFFFFF;
    font-size: 59px;
    letter-spacing: -2px;
    text-shadow: 1px 1px 5px #000000;
}
.arttitle h1 span{
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 0;
}
.jobslook{
    float: right;
    width: 49%;
    margin: 0 0.1em;
    height: auto;
    overflow: auto;
    background-color: lightgray;
    margin-bottom: 0.2em;
}
.jobslook  h3 {
    width:100%;
    border-bottom: medium none;
    color: black;
    /*font-size: 4.214285714285714em;*/
    text-align: center;
    margin-right: 1em;
    font-size: 1.3em;
}
.jobslook h4{
    text-align: center;
    width:100%;
    color: #b82e35;
    font-size: 1em;
}
.stat{
    width: 100%;
    float: right;
    margin: 0 0.1em;
    height: auto;
    overflow: auto;
    background-color: lightgray;
    margin-bottom: 0.1em;
}

.asectiond  h4{
    text-align: center;
    width:100%;
    color: #b82e35;
    height: 100%;
    padding-top: 6em;
}
.asectiond{
    float: right;
    height: 20em;
    width: 100%;
    margin: 0.1em;
    background: lightgray;
}
.info {
    clear: right;
    float: right;
    margin-top: 2em;

}
.info tr td{
    width: 100%;
    float: right;
}
.info  tr  td:nth-child(even){
    padding:0.5em;
    color:gray;
    direction: rtl;
}
.info  tr td:nth-child(odd){
    padding:0.5em;
    color:#333;
    direction: rtl;
}
.space{ 
    padding: 1em;
    width:100%;  
}
.jobdescrp{
    clear:right;
    float: right;
    text-align: right;
    padding: 1em;
}
.areajobs{
    clear: right;
    float: right;
    width: 100%;
}
.job h3 a{
    color:#666;
    text-decoration: none;
}
.job h3 a:hover{
    color:#b82e35;
    text-decoration: none;
}
.news-img{
    -webkit-box-shadow: 0 0 5px 2px gray;
    -moz-box-shadow: 0 0 5px 2px gray;
    box-shadow: 0 0 5px 2px gray;
}
.searchinput{
    width: 100%;
    float: right;
    direction: rtl;
}
.searchbtn{
    margin-top: 1em;
    width: 100%;
}
.span{
    width: 100%;
    text-align: right;
    float: right;
    color: grey;
    font-size: 1em;
}