
/* 
    Created on : Dec 20, 2015, 1:41:42 AM
    Author     : Abdallah M.M.N. Abukhader
*/
@import url(1024.css) all and (min-width:1100px);
@import url(800.css) all and (max-width:1099px) and (min-width:701px);
@import url(Mobile.css) all and (max-width:700px);
